<div>
    <p>ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
    </p>
</div>

<h2>新着商品一覧</h2>
<% @items.each do |item| %>
<% if item.image.attached? %>
  <%= image_tag item.image, size: "300x300" %>
<% else %>
  <%= image_tag 'no_image', size: "300x300" %>
<% end %>
<%= item.name %>
<% end %>

<p><%= link_to "全ての商品をみる", public_items_path %></p>